.top-curve {
  background-color: #f6f3fc;
  border-radius: 0 0 60% 60% / 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 3em 0;
}

.top-curve ul {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    padding: 0 2em;
    a {
      color: #4e5a65;
      text-decoration: none;
    }
  }
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e5a65;
}
