.footer {
  background-color: #1d2830;
  color: white;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  border-bottom: 1px solid #444;
}

.footer-upper > ul {
  list-style: none;
  row-gap: 0.5em;
}

.footer-upper > ul > li {
  padding: 0.5em;
}

.footer-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.footer-socials {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.footer-socials > ul {
  list-style: none;
  display: flex;
}

.footer-socials img {
  max-width: 2.5rem;
  background-color: #4e5a65;
  padding: 0.5em;
  border-radius: 1.5em;
  margin: 1em;
}
