.form {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 5% 10%;
}

.form > :first-child {
  display: inherit;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  max-width: 30rem;
}

.form form {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  input,
  textarea {
    padding: 1rem 2rem;
    font-size: medium;
  }
}
