.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  input,
  textarea {
    padding: 1rem 2rem;
    font-size: medium;
  }
}

.products > * {
  margin: 0.5rem 0;
}

.products-grid {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70rem;
  gap: 2rem;
  div {
    display: flex;
    flex-direction: column;
  }
}
