.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  input,
  textarea {
    padding: 1rem 2rem;
    font-size: medium;
  }
}

.products > * {
  margin: 0.5rem 0;
}

.products-grid {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70rem;
  gap: 2rem;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px grey;
    border-radius: 7.5rem;
    img {
      height: 30rem;
      border-radius: 10rem;
    }
  }
}
