.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.stats-button-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  list-style: none;
}

.stats-button {
  display: flex;
  justify-content: flex-start;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: large;
}

.stats-button:hover {
  background-color: #f0ebfa;
}

.stats-button-active {
  border-top: 0.5rem solid #794cff;
  background-color: #f0ebfa;
}

.statistic {
  color: white;
  font-weight: bold;
  background-color: #796eff;
  border-radius: 2rem;
  font-size: xxx-large;
  padding: 5rem;
}

.review-content.active-statistic {
  display: block;
}

.review-content {
  display: none;
  text-align: center;
}
