.tabs {
  background-color: #f6f3fc;
  display: flex;
  padding: 5%;
  justify-content: space-between;
}

.tab-button-container {
  gap: 10px;
  padding: 10px;
  list-style: none;
}

.tab-button-container ul {
  list-style: none;
}

.tab-button {
  display: flex;
  justify-content: flex-start;
  border: none;
  background: none;
  cursor: pointer;
  padding: 1rem 2rem 1rem 0.5rem;
  font-size: large;
}

.tab-button:hover {
  background-color: #f0ebfa;
}

.tab-button-active {
  border-left: 0.5rem solid #794cff;
  background-color: #f0ebfa;
}

.image-content.active-tab-image {
  display: block;
}

.image-content {
  display: none;
}

.tab-image-container {
  display: inline-flex;
  justify-content: center;
  flex: 1 1 auto;
  height: fit-content;
}

.tab-image-container img {
  height: 50rem;
  width: auto;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
